@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .indent-sm {
      text-indent: 2rem;
    }
    .indent-md {
      text-indent: 3rem;
    }
    .indent-lg {
      text-indent: 4rem;
    }
    .-indent-sm {
      text-indent: -2rem;
    }
    .-indent-md {
      text-indent: -3rem;
    }
    .-indent-lg {
      text-indent: -4rem;
    }
  }
}

@import "../../node_modules/nprogress/nprogress.css";

body {
  @apply w-full;
  @apply h-full;
  @apply m-0;
  @apply p-0;
  font-family: "Roboto", sans-serif;
}

.debug {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
